.card {
	transition: box-shadow 0.3s ease-in-out;
}

.card {
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.8);
}

p {
	font-size: large;
	font-family: sans-serif;
	color: rgb(92, 88, 88);
}

.material-icons {
	position: relative;
	top: 5px;
	left: 5px;
	margin-right: 10px;
}

.topnav a:hover {
	border-bottom: 3px solid blue;
}

.topnav a.active {
	border-bottom: 3px solid blue;
}

